.dockerignore
**/Dockerfile
**/*.Dockerfile
**/docker-compose*.yaml
deployment
Makefile
.git
.gitignore
node_modules
dist
*.tsbuildinfo
.env
.env.*
tests
coverage
*.md
logs
*.log
.DS_Store
.idea
.vscode
.cursor
.husky
eslint.config.mjs
.prettierrc
.editorconfig
